---
import Link from '@/components/atoms/link/Link.astro';
import { SITE_ORIGIN } from '@/config';
import { getTagPagePath } from '@/utils/tagUtils';
import { tagStyle } from './index.css';

interface Props {
  tag: string;
  tagSlug: string;
  clickable?: boolean;
}

const { tag, tagSlug, clickable = true } = Astro.props;
const tagUrl = new URL(getTagPagePath(tagSlug), SITE_ORIGIN);
---

{clickable ? (
  <Link to={tagUrl} noStyle>
    <span class={tagStyle}>{tag}</span>
  </Link>
) : (
  <span class={tagStyle}>{tag}</span>
)}
