---
import Tag from '@/components/atoms/tag/Tag.astro';
import { createTagSlug } from '@/utils/tagUtils';
import { containerStyle } from './index.css';

interface Props {
  tags: string[];
  clickable?: boolean;
  title?: string;
}

const { tags, clickable = true, title } = Astro.props;

if (!tags || tags.length === 0) {
  return null;
}
---

<div class={containerStyle}>
  {title && <span>{title}</span>}
  {tags.map((tag) => (
    <Tag tag={tag} tagSlug={createTagSlug(tag)} clickable={clickable} />
  ))}
</div>
